USE [master]
GO
/****** Object:  Database [QuanLyDiemSV]    Script Date: 5/10/2020 11:13:11 AM ******/
CREATE DATABASE [QuanLyDiemSV]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BTLHSK_Data', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\BTLHSK.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BTLHSK_Log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\BTLHSK.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyDiemSV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyDiemSV]
GO
/****** Object:  Table [dbo].[BangDiem]    Script Date: 5/10/2020 11:13:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BangDiem](
	[maLopTC_PK] [nvarchar](30) NOT NULL,
	[maSV_PK] [nvarchar](30) NOT NULL,
	[diemChuyenCan] [float] NOT NULL,
	[diemGiuaKy] [float] NOT NULL,
	[diemThi] [float] NOT NULL,
	[diemTBC] [float] NOT NULL,
 CONSTRAINT [khoa_chinh_TBLop] PRIMARY KEY CLUSTERED 
(
	[maLopTC_PK] ASC,
	[maSV_PK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiangVien]    Script Date: 5/10/2020 11:13:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiangVien](
	[maGV] [nvarchar](30) NOT NULL,
	[tenGV] [nvarchar](30) NOT NULL,
	[ngaySinh] [datetime] NOT NULL,
	[gioiTinh] [nvarchar](5) NOT NULL,
	[diaChi] [nvarchar](50) NOT NULL,
	[soDienThoai] [nchar](14) NOT NULL,
	[email] [nchar](50) NOT NULL,
	[hocHam] [nvarchar](30) NULL,
	[hocVi] [nvarchar](30) NULL,
	[maKhoaFK] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_GiangVien] PRIMARY KEY CLUSTERED 
(
	[maGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Khoa]    Script Date: 5/10/2020 11:13:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Khoa](
	[maKhoa] [nvarchar](30) NOT NULL,
	[tenKhoa] [nvarchar](50) NOT NULL,
	[namThanhLap] [int] NOT NULL,
	[soDienThoai] [nchar](13) NOT NULL,
 CONSTRAINT [PK_Khoa] PRIMARY KEY CLUSTERED 
(
	[maKhoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LopHanhChinh]    Script Date: 5/10/2020 11:13:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LopHanhChinh](
	[maLopHC] [nvarchar](30) NOT NULL,
	[maGVChuNhiemFK] [nvarchar](30) NOT NULL,
	[maKhoaFK] [nvarchar](30) NOT NULL,
	[namNhapHocCuaSV] [int] NULL,
 CONSTRAINT [PK_LopHanhChinh] PRIMARY KEY CLUSTERED 
(
	[maLopHC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LopTinChi]    Script Date: 5/10/2020 11:13:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LopTinChi](
	[maLopTC] [nvarchar](30) NOT NULL,
	[maMonFK] [nvarchar](30) NOT NULL,
	[maGiangVienFK] [nvarchar](30) NOT NULL,
	[hocKy] [int] NOT NULL,
	[namHoc] [nvarchar](15) NOT NULL,
	[maKhoaFK] [nvarchar](30) NULL,
 CONSTRAINT [PK_LopTinChi] PRIMARY KEY CLUSTERED 
(
	[maLopTC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonHoc]    Script Date: 5/10/2020 11:13:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonHoc](
	[maMon] [nvarchar](30) NOT NULL,
	[tenMon] [nchar](30) NOT NULL,
	[soTinChi] [int] NOT NULL,
	[maKhoaFK] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_MonHoc] PRIMARY KEY CLUSTERED 
(
	[maMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SinhVien]    Script Date: 5/10/2020 11:13:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhVien](
	[maSV] [nvarchar](30) NOT NULL,
	[tenSV] [nvarchar](30) NOT NULL,
	[ngaySinh] [datetime] NOT NULL,
	[gioiTinh] [nchar](10) NOT NULL,
	[diaChi] [nvarchar](100) NOT NULL,
	[soDienThoai] [nchar](15) NOT NULL,
	[email] [nchar](50) NOT NULL,
	[maLopHC_FK] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_SinhVien] PRIMARY KEY CLUSTERED 
(
	[maSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BangDiem] ([maLopTC_PK], [maSV_PK], [diemChuyenCan], [diemGiuaKy], [diemThi], [diemTBC]) VALUES (N'0002', N'0002', 8, 10, 10, 9.8)
INSERT [dbo].[BangDiem] ([maLopTC_PK], [maSV_PK], [diemChuyenCan], [diemGiuaKy], [diemThi], [diemTBC]) VALUES (N'0003', N'0003', 8.6, 7.5, 9.4, 8.94)
INSERT [dbo].[BangDiem] ([maLopTC_PK], [maSV_PK], [diemChuyenCan], [diemGiuaKy], [diemThi], [diemTBC]) VALUES (N'0003', N'18A10001', 9, 8, 7, 7.4)
INSERT [dbo].[GiangVien] ([maGV], [tenGV], [ngaySinh], [gioiTinh], [diaChi], [soDienThoai], [email], [hocHam], [hocVi], [maKhoaFK]) VALUES (N'0001', N'Nguyễn Thị Hương', CAST(N'1970-02-07T00:00:00.000' AS DateTime), N'Nữ', N'Hà Nội', N'0339371056    ', N'thuyhuong@gmail.com                               ', N'Tiến Sĩ', NULL, N'0001')
INSERT [dbo].[GiangVien] ([maGV], [tenGV], [ngaySinh], [gioiTinh], [diaChi], [soDienThoai], [email], [hocHam], [hocVi], [maKhoaFK]) VALUES (N'0002', N'Lưu Thị Lan', CAST(N'1960-08-07T00:00:00.000' AS DateTime), N'Nữ', N'Hà Nội', N'0231456987    ', N'lulan@gmail.com                                   ', N'Thạc Sĩ', NULL, N'0001')
INSERT [dbo].[GiangVien] ([maGV], [tenGV], [ngaySinh], [gioiTinh], [diaChi], [soDienThoai], [email], [hocHam], [hocVi], [maKhoaFK]) VALUES (N'0003', N'Đào Hương Giang', CAST(N'1970-12-06T00:00:00.000' AS DateTime), N'Nữ', N'Nghệ An', N'01239635478   ', N'huonggiang@gmail.com                              ', N'Cử Nhân', NULL, N'0001')
INSERT [dbo].[Khoa] ([maKhoa], [tenKhoa], [namThanhLap], [soDienThoai]) VALUES (N'0001', N'CNTT', 1950, N'0123456780   ')
INSERT [dbo].[Khoa] ([maKhoa], [tenKhoa], [namThanhLap], [soDienThoai]) VALUES (N'0002', N'Luật', 1950, N'0123456781   ')
INSERT [dbo].[Khoa] ([maKhoa], [tenKhoa], [namThanhLap], [soDienThoai]) VALUES (N'0003', N'Tiếng Anh', 1950, N'0123456782   ')
INSERT [dbo].[LopHanhChinh] ([maLopHC], [maGVChuNhiemFK], [maKhoaFK], [namNhapHocCuaSV]) VALUES (N'1710A01', N'0003', N'0002', 2017)
INSERT [dbo].[LopHanhChinh] ([maLopHC], [maGVChuNhiemFK], [maKhoaFK], [namNhapHocCuaSV]) VALUES (N'1710A02', N'0002', N'0001', 2017)
INSERT [dbo].[LopHanhChinh] ([maLopHC], [maGVChuNhiemFK], [maKhoaFK], [namNhapHocCuaSV]) VALUES (N'1710A03', N'0003', N'0001', 2017)
INSERT [dbo].[LopTinChi] ([maLopTC], [maMonFK], [maGiangVienFK], [hocKy], [namHoc], [maKhoaFK]) VALUES (N'0001', N'0001', N'0001', 1, N'2019-2020', N'0001')
INSERT [dbo].[LopTinChi] ([maLopTC], [maMonFK], [maGiangVienFK], [hocKy], [namHoc], [maKhoaFK]) VALUES (N'0002', N'0012', N'0002', 1, N'2019-2020', N'0003')
INSERT [dbo].[LopTinChi] ([maLopTC], [maMonFK], [maGiangVienFK], [hocKy], [namHoc], [maKhoaFK]) VALUES (N'0003', N'0006', N'0003', 1, N'2019-2020', N'0002')
INSERT [dbo].[MonHoc] ([maMon], [tenMon], [soTinChi], [maKhoaFK]) VALUES (N'0001', N'Quản Trị Mạng                 ', 3, N'0001')
INSERT [dbo].[MonHoc] ([maMon], [tenMon], [soTinChi], [maKhoaFK]) VALUES (N'0002', N'Mã Nguồn Mở                   ', 3, N'0001')
INSERT [dbo].[MonHoc] ([maMon], [tenMon], [soTinChi], [maKhoaFK]) VALUES (N'0003', N'Lập Trình Web                 ', 4, N'0001')
INSERT [dbo].[SinhVien] ([maSV], [tenSV], [ngaySinh], [gioiTinh], [diaChi], [soDienThoai], [email], [maLopHC_FK]) VALUES (N'0001', N'Lê Hà Chi', CAST(N'1999-03-19T00:00:00.000' AS DateTime), N'Nữ        ', N'Hà Nội', N'09325698745    ', N'hachi@gmail.com                                   ', N'1710A01')
INSERT [dbo].[SinhVien] ([maSV], [tenSV], [ngaySinh], [gioiTinh], [diaChi], [soDienThoai], [email], [maLopHC_FK]) VALUES (N'0002', N'Nguyễn Thảo Nguyên', CAST(N'1999-08-20T00:00:00.000' AS DateTime), N'Nữ        ', N'Hà Nội', N'08965412369    ', N'thaonguyen@gmail.com                              ', N'1710A02')
INSERT [dbo].[SinhVien] ([maSV], [tenSV], [ngaySinh], [gioiTinh], [diaChi], [soDienThoai], [email], [maLopHC_FK]) VALUES (N'0003', N'Lưu Thế Anh', CAST(N'1999-09-27T00:00:00.000' AS DateTime), N'Nam       ', N'Nam ĐỊnh', N'0965874521     ', N'thanh@gmail.com                                   ', N'1710A02')
ALTER TABLE [dbo].[BangDiem]  WITH CHECK ADD  CONSTRAINT [FK_BangDiem_LopTinChi] FOREIGN KEY([maLopTC_PK])
REFERENCES [dbo].[LopTinChi] ([maLopTC])
GO
ALTER TABLE [dbo].[BangDiem] CHECK CONSTRAINT [FK_BangDiem_LopTinChi]
GO
ALTER TABLE [dbo].[BangDiem]  WITH CHECK ADD  CONSTRAINT [FK_BangDiem_SinhVien] FOREIGN KEY([maSV_PK])
REFERENCES [dbo].[SinhVien] ([maSV])
GO
ALTER TABLE [dbo].[BangDiem] CHECK CONSTRAINT [FK_BangDiem_SinhVien]
GO
ALTER TABLE [dbo].[GiangVien]  WITH CHECK ADD  CONSTRAINT [FK_GiangVien_Khoa] FOREIGN KEY([maKhoaFK])
REFERENCES [dbo].[Khoa] ([maKhoa])
GO
ALTER TABLE [dbo].[GiangVien] CHECK CONSTRAINT [FK_GiangVien_Khoa]
GO
ALTER TABLE [dbo].[LopHanhChinh]  WITH CHECK ADD  CONSTRAINT [FK_LopHanhChinh_GiangVien] FOREIGN KEY([maGVChuNhiemFK])
REFERENCES [dbo].[GiangVien] ([maGV])
GO
ALTER TABLE [dbo].[LopHanhChinh] CHECK CONSTRAINT [FK_LopHanhChinh_GiangVien]
GO
ALTER TABLE [dbo].[LopHanhChinh]  WITH CHECK ADD  CONSTRAINT [FK_LopHanhChinh_Khoa] FOREIGN KEY([maKhoaFK])
REFERENCES [dbo].[Khoa] ([maKhoa])
GO
ALTER TABLE [dbo].[LopHanhChinh] CHECK CONSTRAINT [FK_LopHanhChinh_Khoa]
GO
ALTER TABLE [dbo].[LopTinChi]  WITH CHECK ADD  CONSTRAINT [FK_LopTinChi_GiangVien] FOREIGN KEY([maGiangVienFK])
REFERENCES [dbo].[GiangVien] ([maGV])
GO
ALTER TABLE [dbo].[LopTinChi] CHECK CONSTRAINT [FK_LopTinChi_GiangVien]
GO
ALTER TABLE [dbo].[LopTinChi]  WITH CHECK ADD  CONSTRAINT [FK_LopTinChi_Khoa] FOREIGN KEY([maKhoaFK])
REFERENCES [dbo].[Khoa] ([maKhoa])
GO
ALTER TABLE [dbo].[LopTinChi] CHECK CONSTRAINT [FK_LopTinChi_Khoa]
GO
ALTER TABLE [dbo].[LopTinChi]  WITH CHECK ADD  CONSTRAINT [FK_LopTinChi_MonHoc] FOREIGN KEY([maMonFK])
REFERENCES [dbo].[MonHoc] ([maMon])
GO
ALTER TABLE [dbo].[LopTinChi] CHECK CONSTRAINT [FK_LopTinChi_MonHoc]
GO
ALTER TABLE [dbo].[MonHoc]  WITH CHECK ADD  CONSTRAINT [FK_MonHoc_Khoa] FOREIGN KEY([maKhoaFK])
REFERENCES [dbo].[Khoa] ([maKhoa])
GO
ALTER TABLE [dbo].[MonHoc] CHECK CONSTRAINT [FK_MonHoc_Khoa]
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD  CONSTRAINT [FK_SinhVien_LopHanhChinh] FOREIGN KEY([maLopHC_FK])
REFERENCES [dbo].[LopHanhChinh] ([maLopHC])
GO
ALTER TABLE [dbo].[SinhVien] CHECK CONSTRAINT [FK_SinhVien_LopHanhChinh]
GO
/****** Object:  StoredProcedure [dbo].[dsLopTCHocKy]    Script Date: 5/10/2020 11:13:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[dsLopTCHocKy](@hocky int,@namhoc nvarchar(15),@makhoa nvarchar(30))
as
begin
select maLopTC,hocKy,namHoc,maGiangVienFK,tenGV,tenMon,soTinChi,tenKhoa
from LopTinChi inner join MonHoc on  LopTinChi.maMonFK=MonHoc.maMon 
				inner join GiangVien on LopTinChi.maGiangVienFK=GiangVien.maGV,Khoa
where hocKy=@hocky and namHoc like @namhoc and LopTinChi.maKhoaFK=@makhoa and LopTinChi.maKhoaFK=Khoa.maKhoa
end
GO
/****** Object:  StoredProcedure [dbo].[dsSVlopHC]    Script Date: 5/10/2020 11:13:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[dsSVlopHC](@malop nvarchar(30))
as
begin
	select maSV,tenSV,sv.ngaySinh,sv.gioiTinh,sv.diaChi,sv.soDienThoai,sv.email,maLopHC_FK,namNhapHocCuaSV,tenGV
	from SinhVien sv,LopHanhChinh lhc,GiangVien gv
	where sv.maLopHC_FK=lhc.maLopHC and lhc.maGVChuNhiemFK=gv.maGV and maLopHC_FK=@malop
end
GO
/****** Object:  StoredProcedure [dbo].[dsSVlopTC]    Script Date: 5/10/2020 11:13:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[dsSVlopTC](@maloptc nvarchar(30))
as
begin
select maSV,tenSV,ngaySinh,gioiTinh,maLopHC_FK,diemChuyenCan,diemGiuaKy,diemThi,diemTBC,maLopTC_PK,tenMon,soTinChi
from SinhVien,BangDiem,LopTinChi,MonHoc
where maLopTC_PK=@maloptc and SinhVien.maSV=BangDiem.maSV_PK and LopTinChi.maLopTC=BangDiem.maLopTC_PK and MonHoc.maMon=LopTinChi.maMonFK
end
GO
USE [master]
GO
